* {
    margin: 0;
    box-sizing: border-box;
}

.dcg-pillbox-container .dcg-settings-pillbox,
.dcg-pillbox-container .dcg-settings-pillbox {
    display: none;
}
body{
    .container-cal{
        width: 100%;
        height: 100vh;
    }
}
