* {
    margin: 0;
    box-sizing: border-box;
}

.dcg-pillbox-container .dcg-settings-pillbox,
.dcg-pillbox-container .dcg-settings-pillbox {
    display: none;
}
body{
    .container-cal{
        width: 100%;
        max-width: 600px;
        height: 50vh;
        margin: auto;
        margin-top: 2em;
    }
    .container{
        .form-group{
            .but-but{
                .btn{
                    a{
                        color: white !important;
                    }
                }
            }
        }
    }
}
